# Python
venv/
__pycache__/
*.pyc

# Flask
instance/

# Node
node_modules/
npm-debug.log

# React
frontend/build/

# Environment Variables
.env

# VS Code
.vscode/

# OS Files
.DS_Store

# Logs
*.log
